body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: size 2em;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    transition: ease-in-out 0.25s;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: hsl(214, 100%, 56%);
    padding: 13px 23px;
}